<h1>CONFIRMEZ VOTRE ADRESSE MAIL</h1>

<p>
    Merci de confirmer votre adrese mail en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon adresse mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


