{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ asset('css/file.css') }}">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


    <title>Echec</title>
</head>

<body>
    <div class="wrapper">
        <header>
            
            <h3>Paiement refusé !</h3>
            <p>Désolé votre paiement n'a pas pu aboutir.</p>
            <p>Veuillez utiliser une autre carte ou vérifier le solde de votre compte bancaire</p>
           
            <div class="informations">
                <div id="menu">
                    <a href="{{ path ('app_home') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" title="Retour à l'accueil" alt="Retour à la page d'accueil"></a>
                </div>
            </div>
        </header>
    </div>
    <!-- <script>src = "script.js"</script> -->
</body>

</html
{% endblock %}
