<h1>INSCRIPTIONNEWSLETTERS</h1>

<p>
    Vous êtes inscrit(e) à la Newsletter<br>

    <br><a href="{{ absolute_url('newsletters_confirm', {id: user.id, token: token}) |raw }}">Confirmez votre inscription</a><br>

</p>