<h1>INSCRIPTION A LA NEWSLETTERS</h1>

<p>
    Vous êtes inscrit(e) à la Newsletter<br>

    <br><a href="{{ absolute_url(path('newsletters_confirm', {id: user.id, token: token})) }}">Confirmez votre inscription</a><br>

</p>