<h1>NEWSLETTER</h1>

<p>
    Bonjour {{ user.pseudo }}, 
    Daniel Aaron vient de poster un nouvel article<br>

    Retrouver le reste de l'actualité sur <a href="">www.danielaaron.eu</a><br>
    
    <br>Ou cliquez sur le lien ci-dessous pour accéder à l'article<br>

    <br><a href="">Voir l'article</a><br>

</p>