<h1>NEWSLETTER</h1>

<p>
    Bonjour {{ user.pseudo }}, 
    Daniel Aaron vient de poster un nouvel article<br>

    <br><a href="{{ url|raw }}">Connectez-vous pour consulter cet article</a><br>

</p>