<h1>NOTIFICATION</h1>

<p>
    Bonjour, Votre pré-commande a bien été prise en compte, <br>
    votre édition est en cours de développement et sera disponible à la date prévue<br>
    Vous serez avertit lorsque le(ou les) livres numériques seront disponibles en t&l&chargement.
    <br>Merci pour votre patience. <br>
</p>