<h1>NOTIFICATION</h1>

<p>
    Bonjour {{ user.pseudo }}, Votre pré-commande a bien été prise en compte,<br>

    le format numérique de ce volume est en cours de développement et sera disponible à la date prévue<br>

    <br>
    <h2>Vous pouvez recevoir par mail, l'actualité du site ou vous rendre sur le fil d'actualité en cliquant sur le lien ci-dessous</h2>
    
    {# <a href="">Vers le fil d'actualité</a> #}
    <a href="{{ url|raw }}">Suivre l'actualité</a>

    <br>Une nouvelle notification vous sera envoyée lorsque le (ou les) livres numériques seront disponibles en téléchargement.<br>
    <br>Merci de votre compréhension. <br>
</p>