<h1>NOTIFICATION</h1>

<p>
    Bonjour {{ user.pseudo }}, Votre pré-commande a bien été prise en compte,<br>

    le format numérique de ce livre est en cours de développement et sera disponible à la date prévue<br>
    <br>Vous serez avertit lorsque le (ou les) livres numériques seront disponibles en téléchargement.<br>
    <br>Merci pour votre patience. <br>
</p>