<h1>CHANGER MON MOT DE PASSE</h1>

<p>
    Bonjour, pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant : <br><br>
    <a href="{{ url|raw }}">Je change mon mot de passe</a>.
    <br>Merci.
</p>