{% extends 'base.html.twig' %} 
    {# Le design de cette page dépend du fichier base.html.twig et doit s'éxécuter sur la page d'accueil #}
{% block title %}Actualités{% endblock %}

{% block body %}
    

    <div class="articles">
        <h1>ACTUALITES</h1>

        
       
    </div>
{% endblock %}
