{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">

        <head>
            <meta charset="utf-8">

            <link rel="stylesheet" href="{{ asset('css/file.css') }}">
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">


            <title>COLLECTIONS</title>
        </head>

        <body>
            <div class="wrapper">
                <header>
                    <!-- Cette page concerne les séries de livres -->
                    <h3>COLLECTIONS</h3>

                    {% if is_granted('ROLE_ADMIN') %}
                        {# Seul l'admin peut ajouter une nouvelle collection #}
                        <a class="btn" href="">AJOUTER</a>
                    {% endif %}

                    {# BDD L'élément de la collection #}
                    {# Créer une boucle for #}
                    {% for serie in series %}
                    
                        {# Accéder à la liste des livres pour chaque collections en cliquant sur l'intitulé d'une collection #}
                        <a href="">{{ serie }}</a>

                        {# Seul l'admin peut modifier et/ou supprimer une collection #}
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn" href="">MODIFIER</a>
                        <a class="btn" href="">SUPPRIMER</a>
                        {% endif %}

                    {% endfor %}

                    <nav id="men">
                        <div id="menu">
                        <a href="{{ path ('app_user') }}"><img class="lk" src="{{ asset('img/house-solid.svg') }}" alt="Retour à l'espace personnel" title="Retourner à mon espace"></a>
                        </div>
                    </nav>

                </header>
            </div>
            <!-- <script>src = "script.js"</script> -->
        </body>

    </html>
{% endblock %}
