{% extends 'base.html.twig' %}

{% block title %}Inscription aux Newsletters{% endblock %}

{% block body %}

    <h1>Newsletters</h1>
    <h2>Choisissez vos Newsletters</h2>
    <div class="formAddInscription">
        {{ form(form) }}
    </div>

{% endblock %}
