/*  Pour reset les marges*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES CSS pour changer les couleurs et la police de tout le site */
:root {
    /* COULEURS */
    --color-primary: rgba(204, 0, 0, 1);
    --color-secondary: rgb(242, 245, 247);
    --color-third: rgb(59 191 241);

    /* POLICES */
    --police-primary: 'Libre Baskerville', sans-serif;
    /* --police-primary:  Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: */
}


/* wrapper  =   bloc contenant les réglages par défaut pour toute la page*/

.wrapperLibre {

    font-family: var(--police-primary);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.fond {
    width: 60%;
}

.wrapper {

    background-image: url(/img/logo.jpg);
    font-family: var(--police-primary);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.wrapperCollection {

    background-image: url(/img/logo2.jpg);
    font-family: var(--police-primary);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height:max-content;
}

.wrapperEtik {

    background-image: url(/img/logo5.jpg);
    font-family: var(--police-primary);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height:max-content;
}

.wrapperVente {

    background-image: url(/img/logo4.bmp);
    font-family: var(--police-primary);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.wrapperLivres {

    background-image: url(/img/collection.jpg);
    font-family: var(--police-primary);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.wrapperEdition {

    font-family: var(--police-primary);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.wrapperPanier {

    /* background-image: url(/img/collection1.jpg); */
    font-family: var(--police-primary);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: max-content;
}

/* nav  =   bloc contenant: h1, nav, menu et a  */

nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    line-height: 1;
    height: 160px;
}

nav .lk {
    width: 6%;
    filter: invert();
}

.icone {
    width: 10%;
}

.icone1 {
    width: 30%;
}

.icone2 {
    width: 8%;
    filter: invert();
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    line-height: 1;
    height: 120px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.informations .lk {
    width: 6%;
    filter: invert();
}

h1 {
    font-size: 3.7em;
    color: var(--color-secondary);
}


h3 {
    font-size: 2em;
    color: var(--color-primary);
    font-family: var(--police-primary);
    text-align: center;
}

h1 {
    text-align: center;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#menu a {
    text-decoration: none;
    color: var(--color-primary);
    background: none;
    font-family: var(--police-primary);

}

#menu a:hover {
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    transition: ease-in-out 0.5s;
    box-shadow: 0px 6px 10px black;
}

#menu .lk {
    width: 10%;
    filter: none;
}

#men {
    height: auto;
    margin-bottom: 40px;
}

#reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset a {
    background: none;
    color: var(--color-primary);
}

.flash-danger {
    display: flex;
}

.option a {
    background: none;
    color: black;
}

.admin a {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: small;
}

a {
    /* color: var(--color-secondary); */
    color: var(--color-primary);

    text-decoration: none;
    padding: 5px;
    font-size: 1.5em;
    /* background: var(--color-primary); */
    background: none;

    background-size: 100px;
    /* border: none; */
    border: 1 px solid var(--color-primary);

    animation: appear 1s;
    transition: ease-in-out 0.5s;
    margin: 10px;
    border-radius: 5px;
    width: max-content;
    text-align: center;
}

#menu a {
    width: 340px;
}

.ml {
    color: gray;
    background: none;
    font-size: 1em;
}


@keyframes appear {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }

}

a:hover {
    opacity: 70%;
    color: black;
}

.mentions {
    font-family: var(--police-primary);
    text-align: justify;
    padding: 10px;
}

.icoA {
    width: 50%;
    margin-bottom: 40px;
    border-radius: 10px;
}

/* FACTURES */

.wrapperFactures {
    background-image: url(/img/collection.jpg);
    font-family: 'Libre Baskerville', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.wrapperFactures h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.ent {
    text-align: center;
}

.logoFou {
    width: 30%;
}

.description thead {
    background-color: rgba(204, 0, 0, 1);
    color: rgb(242, 245, 247);
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: rgb(242, 245, 247);
}

.total {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    color: rgb(242, 245, 247);
    background-color: rgba(204, 0, 0, 1);
    text-align: left;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*FORMULAIRES INSCRIPTION */

form {
    text-align: end;
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 40px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formAddInscription {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), var(--color-primary));
    color: black;
    line-height: 2;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 6px 10px black;
    display: flex;
    justify-content: center;
}

.formAddInscription input {
   
    border-radius: 10px;
    width: 500px;
}

.formAddInscription label {
    padding: 10px;
    font-size: 1.5em;
}

#registration_form_is_rgpd {
    width: 10%;
}

/* NEWSLETTERS */

.formAddNews {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), var(--color-primary));
    color: black;
    line-height: 2;
    padding: 10px;
    width: auto;
    display: flex;
    justify-content: center;
}

.formAddNews input {
    border-radius: 5px;
}

.formAddNews label {
    padding: 10px;
    font-size: 1.2em;
}

/* PASSWORD */

.formPass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), var(--color-primary));
    color: black;
    line-height: 2;
    padding: 10px;
    width: -webkit-fill-available;
}

.formPass input {
    border-radius: 5px;
}

.formPass label {
    padding: 10px;
    font-size: 1.5em;
    display: flex;
}

/* COMMANDES */

.formAddCommande {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), var(--color-primary));
    color: black;
    line-height: 3;
    padding: 20px;
    width: auto;
    border-radius: 20px;
    box-shadow: 0px 6px 10px black;
    text-align: end;
    display: flex;
    justify-content: center;
}

.formAddCommande input {
    padding: 10px;
    border-radius: 10px;
    width: 350px;
}

.formAddCommande label {
    padding: 10px;
    font-size: 1.5em;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
    font-family: var(--police-primary);
}

.btnCom {
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.5em;
    cursor: pointer;
    font-family: var(--police-primary);
}

/*PANIER*/

.btn-dark {
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5em;
    border: none;
    animation: appear 1s;
    transition: ease-in-out 0.5s;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
    width: 120px;
}

/*OPTIONS DU CRUD*/

.admin {
    background-color: var(--color-primary);
    box-shadow: 0px 6px 10px black;
    display: flex;
    margin-bottom: 40px;
    border-radius: 10px;
}


.crud {
    color: black;
    background: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.5em;
    cursor: pointer;
    font-family: var(--police-primary);
}

.option {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
}

.option a {
    color: var(--color-secondary);
    font-weight: 100;
}

.option a:hover {
    color: black;
}


.liste {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), var(--color-primary));
    border-radius: 20px;
    box-shadow: 0px 6px 10px black;
    margin-top: 20px;
}

.btn:hover {
    background: var(--color-primary);
    color: var(--color-secondary);
    transition: ease-in-out 0.5s;
}

/*FORMULAIRES CONNEXION */

.formAddConnexion {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), var(--color-primary));
    color: black;
    line-height: 1;
    padding: 20px;
    width: 410px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px black;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.formAddConnexion input {
    padding: 10px;
    border-radius: 10px;
}

.formAddConnexion label {
    padding: 10px;
    font-size: 1.5em;
}

/* LES COMMANDES/////////////////////////////////////////////////////////// */

.order {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), var(--color-secondary));
    border-radius: 10px;
    box-shadow: 0px 6px 10px black;
    font-size: 1em;
    padding: 10px;
    line-height: 2;
    width: auto;
}

.articles {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cover {
    width: 10%;
}

/* LES FORMATS/////////////////////////////////////////////////////////// */

.edition {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), var(--color-secondary));
    border-radius: 10px;
    box-shadow: 0px 6px 10px black;
    font-size: 1.5em;
    padding: 40px;
    position: fixed;
    top: 100px;
    width: auto;
}

.photo {

    display: flex;
    width: 100%;
}

/* LES LIVRES/////////////////////////////////////////////////////////// */

.serie {
    display: flex;
    flex-wrap: wrap;
}

.couvertures {
    width: 20%;
}

.book {
    display: flex;
    padding: 20px;
    text-align: justify;
    width: 400px;
    margin: auto;
}

.price {
    display: flex;
    flex-direction: row;
    background: var(--color-secondary);
    justify-content: left;
    align-items: center;
    overflow: auto;
    scroll-snap-type: x mandatory;
    width: -webkit-fill-available;
}

.blocPrice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position:relative; */
    margin: auto;
}

.livres h3 {
    color: var(--color-secondary);
    background: var(--color-primary);
    padding: 10px;
    text-align: center;
}

/*Effet de carte retournée*/

.blocPrice:hover .pack {
    transform: rotateY(180deg);
    transition: ease-in-out 1s;
}

.pack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    transition: .5s ease-in-out;
    transition: all 1s ease;
    transform-style: preserve-3d;
    margin: 10px;
}

.front {
    position: absolute;
    box-shadow: 0px 5px 10px black;
    backface-visibility: hidden;
    width: 310px;
    left: 50px;
}

.back {
    background: var(--color-secondary);
    position: sticky;
    object-fit: cover;
    flex-shrink: 0;
    scroll-snap-align: start;
    box-shadow: 0px 6px 10px black;
    border-radius: 5px;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    padding: 10px;
    height: max-content;
    /* width: 400px; */
    width: 410px;
    text-align: center;
}

.back p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.back a {
    background: none;
}

.back h2 {

    padding-bottom: 20px;
    font-size: 2em;
}

h6 {
    font-size: 0.7em;
    font-weight: normal;
}

.log {
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.log1 {
    width: 50%;
    align-items: center;
    cursor: pointer;
}

.log2 {
    width: 70%;
    align-items: center;
    cursor: pointer;
}


/*Femmes*/

.boutonJoin {
    color: var(--color-primary);
    border: 1px solidvar(--color-primary);
    background: none;
    border-radius: 8px;
    font-size: 1.3em;
    padding: 10px 80px 10px 80px;
    transition: .5s ease-in-out;
}

.boutonJoin:hover {
    background: var(--color-primary);
    color: var(--color-secondary);
    cursor: pointer;
}

.acheter1 {
    color: var(--color-primary);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    background: pink;
    font-family: var(--police-primary);
}

/*//////////////////////////////FOOTER////////////////////////////////////*/
#info {
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    padding-top: 40px;
    text-align: center;
    font-family: var(--police-primary);
}

.logQR {
    width: 10%;
    align-items: center;
    filter: invert(1);
}

.reseaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 30%;
}

.pied {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.face {
    opacity: 50%;
    width: 80%;
    border-radius: 20px;
    border: 1px solid gray;
}

.reseaux .icoFb,
.reseaux .icoIn,
.reseaux .icoLkd,
.reseaux .icoTk,
.reseaux .icoTw,
.reseaux .icoYt,
.reseaux .icoSp,
.reseaux .icoPp {

    width: 180%;
    filter: invert();
}

.acces {
    font-size: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.acces .text3 {
    color: var(--color-secondary);
    margin-bottom: 0px;
}

.acces a {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--color-secondary);
}

.acces p {
    color: var(--color-secondary);
}

.acces a:hover {
    color: black;
}

.boutonScroll {
    width: 3%;
    border-radius: 50%;
    position: fixed;
    top: 580px;
    left: 1230px;
    transition: .5s ease-in-out;
}

.boutonScroll:hover {
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////*/


/*TELEPHONE//////////////////////////////////////////////////////*/

@media (min-width: 0) and (max-width: 768px) {

    h1 {
        font-size: 2em;
    }

    .icone,
    .icone1 {
        width: 10%;
    }

    .icone2 {
        width: 10%;
    }

    .couvertures {
        width: 50%;
    }

    .mentions {
        padding-top: 40px;
    }

    .formAddInscription {
        line-height: 1;
    }

    textarea {
        width: 100%;
    }

    .formAddInscription input {
        width: 380px;
    }

    .formAddCommande {
        line-height: 2;
    }

    .formAddCommande input {
        width: 380px;
    }

    form {
        text-align: center;
    }

    .liste {
        width: -webkit-fill-available;
    }

    .option {
        flex-direction: column;
        line-height: 2;
    }

    .cover {
        width: 30%;
    }

    .articles {
        flex-wrap: wrap;
    }

    figcaption {
        display: flex;
        align-items: baseline;
        gap: 10px;
        font-size: 0.8em;
    }

    .order {
        font-size: 0.7em;
    }

    .admin {
        flex-direction: column;
    }

    /* INFO///////////////////////////////////////////////////////////////////// */

    #info {
        display: flex;
        flex-direction: column;
        background: var(--color-primary);
        padding-top: 20px;
        text-align: center;
        font-family: var(--police-primary);
    }

    .logQR {
        width: 30%;
        align-items: center;
        filter: invert(1);
    }

    .reseaux {
        display: none;
    }

    .pied {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .acces {
        opacity: 50%;
        font-size: 1em;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .acces .text3 {
        color: var(--color-secondary);
        margin-bottom: 0px;
    }

    .acces a {
        font-size: 1.2em;
    }

    .acces a:hover {
        color: black;
    }

    .edition {
        position: relative;
        padding: 0px;
        top: 0px;
    }

    #men {
        margin-top: 140px;
    }
}