/*  Pour reset les marges*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* wrapper  =   bloc contenant les réglages par défaut pour toute la page*/

.wrapper {

    background-image: url(/img/logo.jpg);
    font-family: 'Libre Baskerville', sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.wrapperCollection {

    background-image: url(/img/logo2.jpg);
    font-family: 'Libre Baskerville', sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.wrapperEtik {

    background-image: url(/img/logo5.jpg);
    font-family: 'Libre Baskerville', sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.wrapperVente {

    background-image: url(/img/logo4.bmp);
    font-family: 'Libre Baskerville', sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.wrapperLivres {

    background-image: url(/img/collection.jpg);
    font-family: 'Libre Baskerville', sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.wrapperEdition {

    font-family: 'Libre Baskerville', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.wrapperPanier {

    background-image: url(/img/collection1.jpg);
    font-family: 'Libre Baskerville', sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 700px;
}

/* nav  =   bloc contenant: h1, nav, menu et a  */

nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    line-height: 1;
    height: 370px;
}

nav .lk {
    width: 6%;
    filter: invert();
}

.icone {
    width: 10%;
}

.icone1 {
    width: 30%;
}

.icone2 {
    width: 8%;
    filter: invert();
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    line-height: 1;
    height: 100px;
}

.informations .lk {
    width: 6%;
    filter: invert();
}

h1 {
    font-size: 3.7em;
    color: white;
}


h3 {
    font-size: 2em;
    color: rgba(204, 0, 0, 1);
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
}

#menu {
    display: flex;
    flex-direction: column;
}

#men {
    height: auto;
    margin-bottom: 40px;
}

a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5em;
    background: rgba(204, 0, 0, 1);
    background-size: 100px;
    border: none;
    animation: appear 1s;
    transition: ease-in-out 0.5s;
    margin: 10px;
    border-radius: 10px;
    width: max-content;
    text-align: center;
}

.ml {
    color: gray;
    background: none;
    font-size: 1em;
}


@keyframes appear {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }

}

a:hover {
    opacity: 70%;
    color: black;
    font-weight: bold;
}

.mentions {
    font-family: 'Libre Baskerville', sans-serif;
    text-align: justify;
    padding: 10px;
    padding-top: 620px;
}

.icoA {
    width: 50%;
    margin-bottom: 40px;
    border-radius: 10px;
}

/*FORMULAIRES INSCRIPTION & CONNEXION*/

form {
    text-align: end;
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 40px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registration_form_agreeTerms {
    width: 30px;
}

.formAddInscription {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(204, 0, 0, 1));
    color: black;
    line-height: 3;
    padding: 20px;
    width: auto;
    border-radius: 20px;
    box-shadow: 0px 6px 10px black;
    text-align: end;
    display: flex;
    justify-content: center;
}

.formAddInscription input {
    padding: 10px;
    border-radius: 10px;
    width: 500px;
}

.formAddInscription label {
    padding: 10px;
    font-size: 1.5em;
}

.check-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formAddCommande {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(204, 0, 0, 1));
    color: black;
    line-height: 3;
    padding: 20px;
    width: auto;
    border-radius: 20px;
    box-shadow: 0px 6px 10px black;
    text-align: end;
    display: flex;
    justify-content: center;
}

.formAddCommande input {
    padding: 10px;
    border-radius: 10px;
    width: 350px;
}

.formAddCommande label {
    padding: 10px;
    font-size: 1.5em;
}

.btn {
    padding: 10px;
    margin-top: 40px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.5em;
    cursor: pointer;
    font-family: 'Libre Baskerville', sans-serif;
}

.btnCom {
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.5em;
    cursor: pointer;
    font-family: 'Libre Baskerville', sans-serif;
}

/*PANIER*/

.btn-dark {
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5em;
    border: none;
    animation: appear 1s;
    transition: ease-in-out 0.5s;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
}

/*OPTIONS DU CRUD*/

.crud {
    color: black;
    background: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.5em;
    cursor: pointer;
    font-family: 'Libre Baskerville', sans-serif;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.liste {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(204, 0, 0, 1));
    border-radius: 20px;
    box-shadow: 0px 6px 10px black;
    margin-top: 20px;
}

.btn:hover {
    background: rgba(204, 0, 0, 1);
    color: white;
    transition: ease-in-out 0.5s;
}

.formAddConnexion {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(204, 0, 0, 1));
    color: black;
    line-height: 2;
    padding: 20px;
    width: 410px;
    border-radius: 20px;
    box-shadow: 0px 6px 10px black;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formAddConnexion input {
    padding: 10px;
    border-radius: 10px;
}

.formAddConnexion label {
    padding: 10px;
    font-size: 1.5em;
}

/* LES COMMANDES/////////////////////////////////////////////////////////// */

.order {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), white);
    border-radius: 10px;
    box-shadow: 0px 6px 10px black;
    font-size: 1em;
    padding: 10px;
    line-height: 2;
    width: auto;
}

.articles {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cover {
    width: 10%;
}

/* LES FORMATS/////////////////////////////////////////////////////////// */

.edition {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), white);
    border-radius: 10px;
    box-shadow: 0px 6px 10px black;
    font-size: 1.5em;
    padding: 40px;
    position: fixed;
    top: 100px;
    width: auto;
}

.photo {

    display: flex;
    width: 100%;
}

/* LES LIVRES/////////////////////////////////////////////////////////// */

.serie {
    display: flex;
    flex-wrap: wrap;
}

.couvertures {
    width: 20%;
}

.book {
    display: flex;
    padding: 20px;
    text-align: justify;
    width: 400px;
    margin: auto;
}

.price {
    display: flex;
    flex-direction: row;
    background: whitesmoke;
    justify-content: left;
    align-items: center;
    overflow: auto;
    scroll-snap-type: x mandatory;
    width: -webkit-fill-available;
}

.blocPrice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position:relative; */
    margin: auto;
}

.livres h3 {
    color: white;
    background: rgba(204, 0, 0, 1);
    padding: 10px;
    text-align: center;
}

/*Effet de carte retournée*/

.blocPrice:hover .pack {
    transform: rotateY(180deg);
    transition: ease-in-out 1s;
}

.pack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    transition: .5s ease-in-out;
    transition: all 1s ease;
    transform-style: preserve-3d;
    margin: 10px;
}

.front {
    position: absolute;
    box-shadow: 0px 5px 10px black;
    backface-visibility: hidden;
    width: 310px;
    left: 50px;
}

.back {
    background: white;
    position: sticky;
    object-fit: cover;
    flex-shrink: 0;
    scroll-snap-align: start;
    box-shadow: 0px 6px 10px black;
    border-radius: 5px;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    padding: 10px;
    height: max-content;
    /* width: 400px; */
    width: 410px;
    text-align: center;
}

.back p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.back a {
    background: none;
}

.back h2 {

    padding-bottom: 20px;
    font-size: 2em;
}

h6 {
    font-size: 0.7em;
    font-weight: normal;
}

.log {
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.log1 {
    width: 50%;
    align-items: center;
    cursor: pointer;
}

.log2 {
    width: 70%;
    align-items: center;
    cursor: pointer;
}


/*Femmes*/

.boutonJoin {
    color: rgba(204, 0, 0, 1);
    border: 1px solid rgba(204, 0, 0, 1);
    background: none;
    border-radius: 8px;
    font-size: 1.3em;
    padding: 10px 80px 10px 80px;
    transition: .5s ease-in-out;
}

.boutonJoin:hover {
    background: rgba(204, 0, 0, 1);
    color: white;
    cursor: pointer;
}

.acheter1 {
    color: rgba(204, 0, 0, 1);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    background: pink;
    font-family: 'Libre Baskerville', sans-serif;
}



/*TELEPHONE//////////////////////////////////////////////////////*/

@media (min-width: 0) and (max-width: 768px) {

    h1 {
        font-size: 2em;
    }

    .icone,
    .icone1 {
        width: 20%;
    }

    .icone2 {
        width: 10%;
    }

    .couvertures {
        width: 50%;
    }

    .mentions {
        padding-top: 280px;
    }

    .formAddInscription {
        line-height: 2;
    }

    .formAddInscription input {
        width: 380px;
    }

    .formAddCommande {
        line-height: 2;
    }

    .formAddCommande input {
        width: 380px;
    }

    form {
        text-align: center;
    }

    .liste {
        width: -webkit-fill-available;
    }

    .option {
        flex-direction: column;
        line-height: 3;
    }

    .cover {
        width: 30%;
    }

    .articles {
        flex-wrap: wrap;
    }

    figcaption {
        display: flex;
        align-items: baseline;
        gap: 10px;
        font-size: 0.8em;
    }
}